@charset "UTF-8";
@import url();
@font-face {
    font-family: '';
    src: url();
}
body{
    background-color: grey;
    font-family: 'Franklin Gothic Medium';
}

div#interface {
    width: 900px;
    background-color: grey;
    margin: -20px auto 10px auto;
    box-shadow: goldenrod;
    padding: 10px; 
}